# Project Goals

You will work to write several functions that investigate a dataset of Jeopardy! questions and answers. Filter the dataset for topics that you’re interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

The entire data required for the project is given in "jeopardy.csv" file.

In [2]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
raw_data = pd.read_csv("jeopardy.csv")

In [3]:
df = raw_data.rename(columns = lambda x : x.lstrip())

In [4]:
df

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 ...,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,In North America this term is properly applied...,a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1   Air Date     216930 non-null  object
 2   Round        216930 non-null  object
 3   Category     216930 non-null  object
 4   Value        216930 non-null  object
 5   Question     216930 non-null  object
 6   Answer       216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB

In [6]:
def fx_filter_questions(data, words_list):
    apply_this_lambda = lambda x : all(word.lower() in x.lower() for word in words_list)
    return data.loc[data['Question'].apply(apply_this_lambda)]

In [7]:
df.Value = df.Value.apply(lambda x : float(x[1:].replace(",", "")) if x != "None" else 0)

In [8]:
filtered_questions_df = fx_filter_questions(df, ['King'])
print(filtered_questions_df.Value.mean())

771.8833850722094

In [9]:
filtered_questions_df.Answer.value_counts()

Henry VIII        55
Solomon           35
Richard III       33
Louis XIV         31
David             30
                  ..
A Haystack         1
Mark Twain         1
Emma Woodhouse     1
(Scott) Joplin     1
monarch            1
Name: Answer, Length: 5268, dtype: int64

In [10]:
df['Air Date'] = df['Air Date'].apply(lambda x : datetime.strptime(x, '%Y-%m-%d').date())

In [11]:
computer_df = fx_filter_questions(df, ['computer'])
print(len(computer_df))

431

In [12]:
com_1990s_df = computer_df.loc[computer_df['Air Date'].apply\
                               (lambda x : int(x.strftime('%Y')) in range(1990,2000)) \
                                               ,['Air Date', 'Question']]
display(com_1990s_df)

          Air Date                                           Question
2410    1998-07-16  Warriors of this Yucatan civilization battle i...
5077    1999-10-22  Edward Bellamy's 1888 book "Looking Backward" ...
18795   1998-05-22  Computer games & programs undergo this test pe...
20837   1998-03-04  At best, it's a computer enthusiast; at worst,...
22502   1997-02-13  This company's new computer products include t...
...            ...                                                ...
209897  1996-04-01  The "core" of this computer company goes back ...
211882  1998-09-17  Derived from the Greek for "throw", you can th...
212789  1997-02-10  This humorist's collection of essays "In Cyber...
216527  1997-11-12  Like a waiter, a network computer might say "I...
216533  1997-11-12  "Strap" once completed this word meaning to st...

[98 rows x 2 columns]

In [13]:
com_2000s_df = computer_df.loc[computer_df['Air Date'].apply\
                               (lambda x : int(x.strftime('%Y')) > 2000) \
                                               ,['Air Date', 'Question']]
len(com_2000s_df)

302

In [14]:
computer_sliced_df = computer_df[['Air Date', 'Question']]
computer_sliced_df['Year'] = computer_df(['Air Date'].apply(lambda x : int(x.strftime('%Y'))))
print(computer_sliced_df.Year.value_counts())
graph = computer_sliced_df.Year.value_counts()

AttributeError: 'list' object has no attribute 'apply'

In [ ]:
type(graph)